<div id="<%= dom_id turn %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= turn.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Engineer:</strong>
    <%= turn.engineer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= turn.company_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this turn", turn, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this turn', edit_turn_path(turn), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
